
.navDiv{
    display: flex;
    flex-wrap: wrap;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navDiv ul{
    list-style: none;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    /* padding: 2rem, 5rem;
    margin-right: 5rem; */
    background-color: transparent;

}

.navDiv ul li{
    margin: 10px 25px;
    padding: 5px 12px;

}
.item{
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    color: rgb(30, 49, 112);
}