

/* .productadd{
    border: 0px solid red;
    background: rgb(16, 211, 162);
    width: 80%;
    height: 700px;
    position :fixed;
    top: 15%;
    left: 15%;

}
.productadd__container{
    border: 0px solid red;
    background: rgba(51, 48, 48, 0.664);
    width: 60%;
    height: 600px;
    position :fixed;
    top: 40%;
    left: 15%;

} */